@import "tailwindcss";

@layer base {
  :root {
    --color-page: #F6EEE3;
    --color-card: #EBDBC6;
    --color-teal: #1B6D77;
    --color-orange: #D58C38;
  }
}

/* إخفاء أيقونة إظهار كلمة المرور الافتراضية للمتصفحات تماماً */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden !important;
  pointer-events: none !important;
  position: absolute !important;
  right: 0 !important;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}